language: node_js
node_js:
  - 14
sudo: required
services:
  - docker
before_install:
  - docker build -t itscarlosisaac/react-test -f ./client/dockerfile.dev ./client
script:
  - docker run -e CI=true -t itscarlosisaac/react-test yarn test -- --collectCoverage

after_success:
  - docker build -t itscarlosisaac/multi-client ./client
  - docker build -t itscarlosisaac/multi-nginx ./nginx
  - docker build -t itscarlosisaac/multi-server ./server
  - docker build -t itscarlosisaac/multi-worker ./worker

  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # Push the images to Docker hub
  - docker push itscarlosisaac/multi-client
  - docker push itscarlosisaac/multi-nginx
  - docker push itscarlosisaac/multi-server
  - docker push itscarlosisaac/multi-worker